
\.vscode/

node_modules/

src/public/



\.DS_Store

\.idea/vcs\.xml

\.idea/workspace\.xml

\.idea/Servicorp-backend\.iml

\.idea/misc\.xml

\.idea/modules\.xml

reporte-\.xlsx

~\$reporte-\.xlsx

*.xlsx

src/logging-system/

src/middlewares/database\.js
