
\.vscode/

node_modules/

src/public/img/



\.DS_Store

\.idea/vcs\.xml

\.idea/workspace\.xml

src/middlewares/database\.js

\.idea/Servicorp-backend\.iml

\.idea/misc\.xml

\.idea/modules\.xml

reporte-\.xlsx

~\$reporte-\.xlsx
